# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

In [8]:
odf = pd.read_csv("dataframe_lab2_clean.csv")
df1 = pd.read_csv('dataframe1_lab3.csv')
df2 = pd.read_csv('dataframe2_lab3.csv')

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [10]:
df1.dropna(inplace= True)

df1.columns = df1.columns.str.lower()
df1.columns = df1.columns.str.strip()

df1['gender'] = df1['gender'].replace({'Male': 'M', 'female': 'F'})

df1.rename(columns={'st': 'state'}, inplace=True)
df1['state'] = df1['state'].replace('AZ', 'Arizona')
df1['vehicle class'] = df1['vehicle class'].replace({'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury', 'Luxury Car': 'Luxury'})
df1["education"] = df1['education'].replace('Bachelors',  'Bachelor')
df1.columns = df1.columns.str.replace(" ", "_")
df1['customer_lifetime_value'] = df1['customer_lifetime_value'].str.rstrip("%")
df1['customer_lifetime_value'] = df1['customer_lifetime_value'].astype(float) 

df1['number_of_open_complaints'] = df1['number_of_open_complaints'].str.split('/')

df1['number_of_open_complaints'] = df1['number_of_open_complaints'].str[1]

df1.drop_duplicates(inplace=True)

'''
Here i'm copying al the data cleaning processes from the previous lab, but applied to the first new dataframe
'''

"\nHere i'm copying al the data cleaning processes from the previous lab, but applied to the first new dataframe\n"

In [11]:
df2.columns = df2.columns.str.lower()
df2.columns = df2.columns.str.strip()
df2.dropna()
df2.columns = df2.columns.str.replace(" ", "_")

df2['vehicleclass'] = df2['vehicle_class'].replace({'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury', 'Luxury Car': 'Luxury'})
df2.drop_duplicates(inplace=True)

'''
Here We did the same that we did with the first dataframe, only in this case it wasn't necessary to do as many changes as the previous one
'''

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
 11  vehicleclass               7070 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 662.9+ KB

In [12]:
dff = pd.concat([odf, df1, df2], axis= 0)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [14]:
dfch2 = pd.read_csv("lab3_df2_marketing_customer_analysis_clean.csv")

In [38]:
pd.options.display.max_columns = None

In [31]:
dfch2.isna().sum().sum()

0

In [39]:
dfch2.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [ ]:
dfch2_education = dfch2['education']

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [48]:
dfch2.pivot_table(index='sales_channel', values='total_claim_amount').round(2)

               total_claim_amount
sales_channel
Agent                      439.27
Branch                     430.58
Call Center                432.79
Web                        434.56

In [55]:
dfch2.pivot_table(index='gender',  columns = 'education', values='total_claim_amount', aggfunc='mean')

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,415.083016,389.436584,332.498824,459.650066,349.908049
M,440.472063,458.548390,341.660257,519.500247,359.090827

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here